<a href="https://colab.research.google.com/github/bpizarrogalleguillos/Git1/blob/master/Copia_de_2022B_CC3001_2_SessionActiva1_ManejoBasicoDeArreglos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CC3001-2 2022-2 - Session Activa 1: Manejo Basico de Arreglos


En esta sesion activa, ustedes programaran, validaran y evaluaran operaciones basicas sobre arreglos 

Al terminar la tarea exitosamente, usted deberia haber revisado las bases del uso 
- de Python, 
- de iPython y 
- de https://colab.research.google.com,

que les serviran para todas las sesiones activas y tareas del semestre.

---

Más específicamente, dado un arreglo `log` en dos dimensiones, se pide 
1. calcular el promedio de los valores en una columna especifica de `log`;
1. calcular la lista de valores distintos en una columna especifica de `log`;
1. calcular la distribución de las occurrencias de cada valor en una columna especifica de `log`;
1. calcular los promedios de los valores de una columna `valores` para cada valor de la columna `tipo` de `log`.

Para realizar la Sesion Activa, deben hacer una copia de este archivo/colab, compartirlo con los otros miembros de su grupo, y llenar juntos los vacíos con sus explicaciones, sus implementaciones y sus pruebas para las funciones pedidas. Es muy util nombrar a un encargado para copiar y modificar el colab, y más equilibrado sería tener un encargado distinto para cada ejercicio!

---
# Preambulo

En esta sesion activa, ustedes aplicaran su algoritmo a datos "reales", como el log de unos experimentos en "Animal Compute Interface" disponible en el repositorio https://buho.dcc.uchile.cl/~inca/Logs/WhatIsMore/

Se puede descargar facilamente con una libreria Python llamada `pandas`, que sirve en general para hacer analisis estadisticas:

In [2]:
!pip install pylint

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pylint
  Downloading pylint-2.14.5-py3-none-any.whl (488 kB)
     |████████████████████████████████| 488 kB 5.1 MB/s
Collecting platformdirs>=2.2.0
  Downloading platformdirs-2.5.2-py3-none-any.whl (14 kB)
Requirement already satisfied: tomli>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from pylint) (2.0.1)
Requirement already satisfied: typing-extensions>=3.10.0 in /usr/local/lib/python3.7/dist-packages (from pylint) (4.1.1)
Collecting astroid<=2.12.0-dev0,>=2.11.6
  Downloading astroid-2.11.7-py3-none-any.whl (251 kB)
     |████████████████████████████████| 251 kB 35.0 MB/s
Collecting tomlkit>=0.10.1
  Downloading tomlkit-0.11.4-py3-none-any.whl (35 kB)
Collecting isort<6,>=4.2.5
  Downloading isort-5.10.1-py3-none-any.whl (103 kB)
     |████████████████████████████████| 103 kB 22.9 MB/s
Collecting mccabe<0.8,>=0.6
  Downloading mccabe-0.7.0-py2.py3-none-any.whl (7.3 kB)
Requirement already satisfied: dill>=0.2 in /usr/local/lib/python3.7/dist-packages (from pylint) (0.3.5.1)
Collecting lazy-object-proxy>=1.4.0
  Downloading lazy_object_proxy-1.7.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (57 kB)
     |████████████████████████████████| 57 kB 3.9 MB/s
Requirement already satisfied: wrapt<2,>=1.11 in /usr/local/lib/python3.7/dist-packages (from astroid<=2.12.0-dev0,>=2.11.6->pylint) (1.14.1)
Requirement already satisfied: setuptools>=20.0 in /usr/local/lib/python3.7/dist-packages (from astroid<=2.12.0-dev0,>=2.11.6->pylint) (57.4.0)
Collecting typed-ast<2.0,>=1.4.0
  Downloading typed_ast-1.5.4-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (843 kB)
     |████████████████████████████████| 843 kB 7.2 MB/s
Installing collected packages: typed-ast, lazy-object-proxy, tomlkit, platformdirs, mccabe, isort, astroid, pylint
Successfully installed astroid-2.11.7 isort-5.10.1 lazy-object-proxy-1.7.1 mccabe-0.7.0 platformdirs-2.5.2 pylint-2.14.5 tomlkit-0.11.4 typed-ast-1.5.4

In [3]:
import pylint

In [4]:
import pandas
column_names = ['Test no', 'Display Mode','Learner','Trainer', 'C0','C1','C2','C3','C4','Value selected','Correction','Date','Answering time (ms)','Colors','Opacity','Value Set']

log_Lorenzo_df = pandas.read_csv(
    "https://buho.dcc.uchile.cl/~inca/Logs/WhatIsMore/2022-07-27_10_1522.435-InCA-BCT-Lorenzo_trained_by_Jeremy.csv",
    skiprows = 1,
    names = column_names
    )
log_Lorenzo_df

,Test no,Display Mode,Learner,Trainer,C0,C1,C2,C3,C4,Value selected,Correction,Date,Answering time (ms),Colors,Opacity,Value Set
0,1,disc,Lorenzo,Jeremy,9,5,NaN,NaN,NaN,9,True,[2022-07-26 15:02(41.817)],449,background black - foreground green,bg opacity .2,"Value Set 0,1,2,3,4,5,6,7,8,9"
1,2,disc,Lorenzo,Jeremy,4,1,NaN,NaN,NaN,4,True,[2022-07-26 15:03(04.529)],425,background black - foreground green,bg opacity .2,"Value Set 0,1,2,3,4,5,6,7,8,9"
2,3,disc,Lorenzo,Jeremy,3,7,NaN,NaN,NaN,7,True,[2022-07-26 15:03(08.63)],642,background black - foreground green,bg opacity .2,"Value Set 0,1,2,3,4,5,6,7,8,9"
3,4,disc,Lorenzo,Jeremy,1,4,NaN,NaN,NaN,4,True,[2022-07-26 15:03(11.513)],574,background black - foreground green,bg opacity .2,"Value Set 0,1,2,3,4,5,6,7,8,9"
4,5,disc,Lorenzo,Jeremy,0,6,NaN,NaN,NaN,6,True,[2022-07-26 15:03(15.147)],3095,background black - foreground green,bg opacity .2,"Value Set 0,1,2,3,4,5,6,7,8,9"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,124,rect,Lorenzo,Jeremy,0,8,2.0,NaN,NaN,8,True,[2022-07-27 10:02(04.456)],616,background black - foreground green,bg opacity .2,"Value Set 0,1,2,3,4,5,6,7,8,9"
124,125,rect,Lorenzo,Jeremy,4,5,0.0,NaN,NaN,5,True,[2022-07-27 10:02(08.699)],683,background black - foreground green,bg opacity .2,"Value Set 0,1,2,3,4,5,6,7,8,9"
125,126,rect,Lorenzo,Jeremy,7,9,8.0,NaN,NaN,9,True,[2022-07-27 10:02(10.695)],658,background black - foreground green,bg opacity .2,"Value Set 0,1,2,3,4,5,6,7,8,9"
126,127,rect,Lorenzo,Jeremy,1,2,3.0,NaN,NaN,3,True,[2022-07-27 10:02(18.16)],1428,background black - foreground green,bg opacity .2,"Value Set 0,1,2,3,4,5,6,7,8,9"
127,128,rect,Lorenzo,Jeremy,9,6,7.0,NaN,NaN,6,False,[2022-07-27 10:02(24.772)],1083,background black - foreground green,bg opacity .2,"Value Set 0,1,2,3,4,5,6,7,8,9"

In [5]:
log_Tina_df = pandas.read_csv("https://buho.dcc.uchile.cl/~inca/Logs/WhatIsMore/2022-07-27_10_1422.374-InCA-BCT-Tina_trained_by_Jeremy.csv",
    skiprows = 1,
    names = column_names
    )
log_Tina_df

,Test no,Display Mode,Learner,Trainer,C0,C1,C2,C3,C4,Value selected,Correction,Date,Answering time (ms),Colors,Opacity,Value Set
0,1,dice,Tina,Jeremy,6,9,NaN,NaN,NaN,6,False,[2022-07-26 15:02(51.854)],1341,background black - foreground green,bg opacity .2,"Value Set 0,3,6,9"
1,2,dice,Tina,Jeremy,6,3,NaN,NaN,NaN,6,True,[2022-07-26 15:03(06.263)],1079,background black - foreground green,bg opacity .2,"Value Set 0,3,6,9"
2,3,dice,Tina,Jeremy,0,6,NaN,NaN,NaN,6,True,[2022-07-26 15:03(24.296)],8654,background black - foreground green,bg opacity .2,"Value Set 0,3,6,9"
3,4,dice,Tina,Jeremy,9,0,NaN,NaN,NaN,9,True,[2022-07-26 15:03(47.830)],916,background black - foreground green,bg opacity .2,"Value Set 0,3,6,9"
4,5,dice,Tina,Jeremy,9,6,NaN,NaN,NaN,9,True,[2022-07-26 15:04(16.830)],962,background black - foreground green,bg opacity .2,"Value Set 0,3,6,9"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,74,rect,Tina,Jeremy,7,9,NaN,NaN,NaN,9,True,[2022-07-27 10:05(23.758)],2039,background black - foreground green,bg opacity .2,"Value Set 0,1,2,3,4,5,6,7,8,9"
74,75,rect,Tina,Jeremy,7,9,NaN,NaN,NaN,7,False,[2022-07-27 10:05(37.829)],11830,background black - foreground green,bg opacity .2,"Value Set 0,1,2,3,4,5,6,7,8,9"
75,76,rect,Tina,Jeremy,0,5,NaN,NaN,NaN,5,True,[2022-07-27 10:05(40.813)],1304,background black - foreground green,bg opacity .2,"Value Set 0,1,2,3,4,5,6,7,8,9"
76,77,rect,Tina,Jeremy,3,9,NaN,NaN,NaN,3,False,[2022-07-27 10:05(48.804)],6149,background black - foreground green,bg opacity .2,"Value Set 0,1,2,3,4,5,6,7,8,9"
77,78,rect,Tina,Jeremy,8,3,NaN,NaN,NaN,8,True,[2022-07-27 10:05(53.91)],1238,background black - foreground green,bg opacity .2,"Value Set 0,1,2,3,4,5,6,7,8,9"

La libraria usa una estructura de datos poderosa llamada `data_frame` (por eso dimos la extension `_df` a la variable `log_Lorenzo_df`. Para esta tarea necesitamos solamente un arreglo, que se puede extraer de la manera siguiente:

In [6]:
import numpy
log_Lorenzo = log_Lorenzo_df.to_numpy()
log_Lorenzo

array([[1, 'disc', 'Lorenzo', ..., 'background black - foreground green',
        'bg opacity .2', 'Value Set 0,1,2,3,4,5,6,7,8,9'],
       [2, 'disc', 'Lorenzo', ..., 'background black - foreground green',
        'bg opacity .2', 'Value Set 0,1,2,3,4,5,6,7,8,9'],
       [3, 'disc', 'Lorenzo', ..., 'background black - foreground green',
        'bg opacity .2', 'Value Set 0,1,2,3,4,5,6,7,8,9'],
       ...,
       [126, 'rect', 'Lorenzo', ...,
        'background black - foreground green', 'bg opacity .2',
        'Value Set 0,1,2,3,4,5,6,7,8,9'],
       [127, 'rect', 'Lorenzo', ...,
        'background black - foreground green', 'bg opacity .2',
        'Value Set 0,1,2,3,4,5,6,7,8,9'],
       [128, 'rect', 'Lorenzo', ...,
        'background black - foreground green', 'bg opacity .2',
        'Value Set 0,1,2,3,4,5,6,7,8,9']], dtype=object)

---
# Parte 1: Promedio total de las valores de una columna

Programe un método `promedio_columna(arreglo,columna)` que calcula el valor promedio de las valores de una columna `columna` en un arreglo `arreglo`. 

A continuación se presenta una implementación incorrecta del metodo: deben corregirla. El bloque incluye un test que devuelve el resultado apropriado: pueden (y deberian!) extender tales tests para ayudar a su desarollo.

In [7]:
def promedio_columna(arreglo,columna):
  """Calcula el promedio de los valores en la columna `columna` del arreglo `log`."""
  promedio = (arreglo[0][columna]+arreglo[1][columna])/2 # Eso es incorrecto, obviamente.  
  return promedio

promedio_calculado = promedio_columna(log_Lorenzo,12) 
promedio_correcto = log_Lorenzo_df["Answering time (ms)"].mean()
assert promedio_calculado == promedio_correcto, "El promedio calculado, `"+str(promedio_calculado)+"` difere del promedio correcto `"+str(promedio_correcto)+"`."

AssertionError: ignored

In [8]:
# al usar []
len(log_Lorenzo[0:5 ,12])

5

In [9]:
def promedio_columna(array, col):
  """ Calcula el promedio de los valores en la columna del arreglo"""
  """ Recibe como input un array y una columna numérica del arreglo """

  ### Primero debemos recuperar la columna
  columna = array[:,col]
  suma = 0
  for i in columna:
    suma += i
  promedio = suma/ len(columna)

  return promedio  

promedio_calculado = promedio_columna(log_Lorenzo,12) 
promedio_correcto = log_Lorenzo_df["Answering time (ms)"].mean()

# Testing
assert promedio_calculado == promedio_correcto, "El promedio calculado, `"+str(promedio_calculado)+"` difere del promedio correcto `"+str(promedio_correcto)+"`."

## EJEMPLOS DE SOLUCIONES

In [10]:
def promedio_columna(arreglo,columna):
  """Calcula el promedio de los valores en la columna `columna` del arreglo `log`."""
  sum = 0
  n = 0
  for linea in arreglo:
    n += 1
    sum += linea[12]
  return sum/n

promedio_calculado = promedio_columna(log_Lorenzo,12) 
promedio_correcto = log_Lorenzo_df["Answering time (ms)"].mean()
assert promedio_calculado == promedio_correcto, "El promedio calculado, `"+str(promedio_calculado)+"` difere del promedio correcto `"+str(promedio_correcto)+"`."

---
# Parte 2: Identificación de elementos distintos

Programe un método `valores_distintos(arreglo,columna)` que calcula la cantidad de valores distintos en una columna `columna` especifica del arreglo `arreglo`.

A continuación se presenta una implementación incorrecta del metodo: deben corregirla. El bloque incluye un test que devuelve el resultado apropriado: pueden (y deberian!) extender tales tests para ayudar a su desarollo.

In [11]:
def valores_distintos(arreglo,columna):
  """Calcula la lista de valores distintos en una columna columna especifica del arreglo arreglo."""
  valores_distintos = [arreglo[1][columna]] # Eso es obviamente incorrecto en general
  return valores_distintos

valores_distintos_calculados = valores_distintos(log_Lorenzo,1)
valores_distintos_correctos = log_Lorenzo_df["Display Mode"].unique()
assert len(valores_distintos_calculados) == len(valores_distintos_correctos), "Se conto "+str(len(valores_distintos_calculados))+" valores distintos cuando hay "+str(len(valores_distintos_correctos))+" de ellos."

AssertionError: ignored

In [12]:
def valores_distintos(arreglo,columna):
  arr, col = log_Lorenzo, columna
  columna = arr[:,col]
  valores_distintos = [columna[0]]

  for elemento_columna in columna:
    for elemento_valor_nuevo in valores_distintos:
      if elemento_columna == elemento_valor_nuevo:
        break                                       ### NO PASS, si no queda dando vueltas en el Loop
    if elemento_columna != elemento_valor_nuevo:
        valores_distintos.append(elemento_columna)
        
  return valores_distintos


valores_distintos(log_Lorenzo, 1)
### Testeando la funcion 
valores_distintos_calculados = valores_distintos(log_Lorenzo,1)
valores_distintos_correctos = log_Lorenzo_df["Display Mode"].unique()
assert len(valores_distintos_calculados) == len(valores_distintos_correctos), "Se conto "+str(len(valores_distintos_calculados))+" valores distintos cuando hay "+str(len(valores_distintos_correctos))+" de ellos."

## EJEMPLOS DE SOLUCIONES

### Usando `in`: (lo cual es un poco tramp, no aprenderan tan usando eso)

In [13]:
def valores_distintos(arreglo,columna):
  """Calcula la lista de valores distintos en una columna columna especifica del arreglo arreglo."""
  valores_distintos = []
  for linea in arreglo:
    valor = linea[columna]
    if not (valor in valores_distintos):
      valores_distintos.append(valor)
  return valores_distintos

valores_distintos_calculadas = valores_distintos(log_Lorenzo,1)
valores_distintos_correctas = log_Lorenzo_df["Display Mode"].unique()
assert len(valores_distintos_calculadas) == len(valores_distintos_correctas), "Se conto "+str(len(valores_distintos_calculadas))+" valores distintos cuando hay "+str(len(valores_distintos_correctas))+" de ellas."

### Sin usar `in`:

In [14]:
def valores_distintos(arreglo,columna):
  """Calcula la lista de valores distintos en una columna columna especifica del arreglo arreglo."""
  valores_distintos = []
  for linea in arreglo:
    valor = linea[columna]
    found = False
    for v in valores_distintos:
      if v == valor:
        found = True
        break
    if not found:
      valores_distintos.append(valor)
  return valores_distintos

valores_distintos_calculadas = valores_distintos(log_Lorenzo,1)
valores_distintos_correctas = log_Lorenzo_df["Display Mode"].unique()
assert len(valores_distintos_calculadas) == len(valores_distintos_correctas), "Se conto "+str(len(valores_distintos_calculadas))+" valores distintos cuando hay "+str(len(valores_distintos_correctas))+" de ellas."

In [15]:
valores_distintos(log_Lorenzo,1)

['disc', 'heap', 'dice', 'rect']

---
# Parte 3: Cuenta cantidad de occurrencias de cada elemento distinto

Programe un método `occurrencias` que calcula las cantidades de occurrencias de cada elemento distinto en la columna `columna` de un arreglo `arreglo`.

A continuación se presenta una implementación incorrecta del metodo: deben corregirla. El bloque incluye un test que devuelve el resultado apropriado: pueden (y deberian!) extender tales tests para ayudar a su desarollo.

In [16]:
def occurrencias(arreglo, columna):
  """Calcula las cantidades de occurrencias de cada elemento distinto en la columna `columna` de un arreglo `arreglo`."""

  occurrencias = {}
  for linea in arreglo:
    elemento = linea[columna]
    found = False
    for key in occurrencias.keys():
      if key == elemento:
        found = True
        break

    ### OJO este par de if else debe estar AFUERA del if de arriba
    ### Porque de otra forma al hacer el break se lo va a saltar
    ### Tal como pasa en el ejemplo de abajo

    if not found:    # Me cuesta entender esta línea de código
      occurrencias[elemento] = 1
    else:
      occurrencias[elemento] += 1
  
  return list(occurrencias.values())

occurrencias_calculadas = occurrencias(log_Lorenzo,1)
print(occurrencias_calculadas)

[16, 30, 50, 32]

In [17]:
# Que pasa si quiero almacenar cada uno de los elementos que aparece ?
# i.e Dice: [Dice, Dice, Dice]

def occurrencias(arreglo, columna):
  """Calcula las cantidades de occurrencias de cada elemento distinto en la columna `columna` de un arreglo `arreglo`."""

  occurrencias = {}
  for linea in arreglo:
    elemento = linea[columna]
    found = False
    for key in occurrencias.keys():
      if key == elemento:
        found = True
        break
      if not found:    # Me cuesta entender esta línea de código
        occurrencias[elemento] = 1
      else:
        occurrencias[elemento] += 1
  return occurrencias

occurrencias_calculadas = occurrencias(log_Lorenzo,1)
occurrencias_correctas = log_Lorenzo_df["Display Mode"].value_counts().values
assert len(occurrencias_calculadas) == len(occurrencias_correctas), "La cantidad de occurrencias calculadas "+str(len(occurrencias_calculadas))+" diferen de la cantidad de occurrencias correctas "+str(len(occurrencias_correctas))+"."
assert numpy.array_equal(sorted(occurrencias_calculadas),sorted(occurrencias_correctas)), "La occurrencias calculadas "+str(sorted(occurrencias_calculadas))+" diferen de las occurrencias correctas "+str(sorted(occurrencias_correctas))+"."

AssertionError: ignored

In [18]:
def occurrencias(arreglo, columna):
  """Calcula las cantidades de ocurrencias de cada elemento distinto en la columna `columna` de un arreglo `arreglo`."""
  occurrencias = {}
  for linea in arreglo:
    elemento = linea[columna]
    found = False
    for key in occurrencias.keys():
      if key == elemento:
        found = True
        break
    if not found:
      occurrencias[elemento] = 1
    else:
      occurrencias[elemento] += 1
  return occurrencias

print(occurrencias(log_Lorenzo,1))

{'disc': 16, 'heap': 30, 'dice': 50, 'rect': 32}

## EJEMPLOS DE SOLUCIONES

In [19]:
def occurrencias(arreglo, columna):
  """Calcula las cantidades de ocurrencias de cada elemento distinto en la columna `columna` de un arreglo `arreglo`."""
  occurrencias = {}
  for linea in arreglo:
    elemento = linea[columna]
    found = False
    for key in occurrencias.keys():
      if key == elemento:
        found = True
        break
    if not found:
      occurrencias[elemento] = 1
    else:
      occurrencias[elemento] += 1
  return list(occurrencias.values())

occurrencias_calculadas = occurrencias(log_Lorenzo,1)
occurrencias_correctas = log_Lorenzo_df["Display Mode"].value_counts().values
assert len(occurrencias_calculadas) == len(occurrencias_correctas), "La cantidad de occurrencias calculadas "+str(len(occurrencias_calculadas))+" diferen de la cantidad de occurrencias correctas "+str(len(occurrencias_correctas))+"."
assert numpy.array_equal(sorted(occurrencias_calculadas),sorted(occurrencias_correctas)), "La occurrencias calculadas "+str(occurrencias_calculadas)+" diferen de las occurrencias correctas "+str(occurrencias_correctas)+"."

---
# Parte 4: Promedios separados de cada tipo

Programe un método `promedios_separados` que calcula el promedio de los valores en la columna `columna_valores` condicionadas al valor de la columna `columna_tipo` en el arreglo `arreglo`, redundeado a 2 decimales.

A continuación se presenta una implementación incorrecta del metodo: deben corregirla. El bloque incluye un test que devuelve el resultado apropriado: pueden (y deberian!) extender tales tests para ayudar a su desarollo.

In [21]:
def occurrencias(arreglo, columna):
  """Calcula las cantidades de ocurrencias de cada elemento distinto en la columna `columna` de un arreglo `arreglo`."""
  occurrencias = {}
  for linea in arreglo:
    elemento = linea[columna]
    found = False
    for key in occurrencias.keys():
      if key == elemento:
        found = True
        break
    if not found:
      occurrencias[elemento] = 1
    else:
      occurrencias[elemento] += 1
  return occurrencias

print(occurrencias(log_Lorenzo,1))

{'disc': 16, 'heap': 30, 'dice': 50, 'rect': 32}

In [22]:
def promedios_separados(arreglo,columna_tipo,columna_valores):
  """Calcula el promedio de los valores en la columna `columna_valores` 
  condicionadas al valor de la columna `columna_tipo` en el arreglo `arreglo`."""

  # identificar valores distintos para la columna tipo
  # calcular el promedio para los distintos valores para cada columna

  # Calcula el número de ocurrencias
  tipo_ocurrencia = occurrencias(arreglo, columna_tipo)
  suma_ocurrencia = {}


  # Sumar los valores para cada tipo

  # Voy a sumar todos los valores de la lista que coincidan con la llave
  for key in tipo_ocurrencia.keys():
    found = False
    # parte con la llave A i.e
    for linea in arreglo:
      # comparar A con cada elemento de la columna_tipo
      # si es igual sumar el valor indexado por el tipo (¿Y eliminar?)
      if elemento == key:
        suma_occurrencias[elemento] += elemento 
        found = True
  

  promedios = [0.86, 0.81, 0.93, 0.80]

  return promedios

promedios_separados_calculados = sorted(promedios_separados(log_Lorenzo,1,10))
promedios_separados_correctos = sorted(log_Lorenzo_df.groupby(by=["Display Mode"]).mean()["Correction"].values)
assert len(promedios_separados_calculados) == len(promedios_separados_correctos), "La cantidad de promedios calculados "+str(len(promedios_separados_calculados))+" difere de la cantidad correcta "+str(len(promedios_separados_correctos))+"."
for i in range(len(promedios_separados_calculados)):
  assert round(promedios_separados_calculados[i],2) == round(promedios_separados_correctos[i],2), "Los promedios calculados "+str(promedios_separados_calculados)+" diferen de los correctos "+str(promedios_separados_correctos)+" en el "+str(i)+" esimo."

TypeError: ignored

## EJEMPLOS DE SOLUCIONES

In [ ]:
def promedios_separados(arreglo,columna_tipo,columna_valores):
  """Calcula el promedio de los valores en la columna `columna_valores` 
  condicionadas al valor de la columna `columna_tipo` en el arreglo `arreglo`."""
  occurrencias = {}
  valores = {}
  for linea in arreglo:
    tipo = linea[columna_tipo]
    found = False
    for key in occurrencias.keys():
      if key == tipo:
        found = True
        break
    if not found:
      occurrencias[tipo] = 1
      valores[tipo] = int(linea[columna_valores])
    else:
      occurrencias[tipo] += 1
      valores[tipo] += int(linea[columna_valores])
  
  for tipo, ocurrencia in occurrencias.items():
    valores[tipo] = round(valores[tipo]/ocurrencia, 2)

  return list(valores.values())

promedios_separados_calculados = sorted(promedios_separados(log_Lorenzo,1,10))
promedios_separados_correctos = sorted(log_Lorenzo_df.groupby(by=["Display Mode"]).mean()["Correction"].values)
assert len(promedios_separados_calculados) == len(promedios_separados_correctos), "La cantidad de promedios calculados "+str(len(promedios_separados_calculados))+" difere de la cantidad correcta "+str(len(promedios_separados_correctos))+"."
for i in range(len(promedios_separados_calculados)):
  assert round(promedios_separados_calculados[i],2) == round(promedios_separados_correctos[i],2), "Los promedios calculados "+str(promedios_separados_calculados)+" diferen de los correctos "+str(promedios_separados_correctos)+" en el "+str(i)+" esimo."

---

# Información adicional:

## Operaciones Reales

Las operaciones que les pediremos de desarrollar en las tareas YA fueron implementadas por ingenieros profesionales, y YA estan disponibles en varias libraries: el objetivo es que ustedes desarrollan funcionalidades similares para aprender a desarrollar otras mas sofisticadas en el futuro.

Eso NO significa que deberian simplemente usar librerias Python que resuelven el problema pedido en un ejercicio o tarea. Pero no está prohibido usar tales libraries para VERIFICAR que el resultado de su implementación es correcto, o al menos tan correcto que lo de la libreria usada para verificar el resultado.

A continuación, describiremos el codigo python que le ayudaran a realizar las operaciones pedidas en la tarea, a manera de 
- ayudarlos a entender y visualizar las operaciones pedidas;
- ayudarlos a verificar el output de su propia implementación; y 
- convencerlos de que lo pedido no es un ejercicio abstracto sino funcionalidades reales que se usan en el manejo de datos en la vida profesional.

### Calculo de estadisticas

El metodo `describe` de la classe `data_frame` permite de calcular estadisticas sobre las columnas del data frame, a dentro de cual el promedio ("mean") de los valores en las columnas:

In [ ]:
log_Lorenzo_df.describe()

Para muchas columnas del log, tal promedio no tiene mucho sentido (e.g. el numero del test!), pero para otros si es util, como el tiempo de respuesta ("Answering Time (ms)"), que se puede acceder separamente:

In [ ]:
log_Lorenzo_df["Answering time (ms)"]

Uno puede calcular las estadisticas sobre este columna solamente:

In [ ]:
log_Lorenzo_df["Answering time (ms)"].describe()

Si uno quiere otras estadisticas, existen otros metodos como `median`:

In [ ]:
log_Lorenzo_df["Answering time (ms)"].median()

### Eliminación de valores duplicadas

Los logs describen el rendimiento de los sujetos sobre 4 tipos de ejercicios: `dice`, `heap`, `rect` y `disc`:

In [ ]:
log_Lorenzo_df["Display Mode"].values

El metodo `describe` nos permite de verificar que hay exactamente 4 `Display Mode` distintos (para 128 occurencias en total):

In [ ]:
log_Lorenzo_df["Display Mode"].describe()

El metodo `drop_duplicates` nos permite identificar tales 4 valores distintos (los valores indicados a la izquierda corresponden al indice de la primera ocurrencia de tal valor en la serie):

In [ ]:
log_Lorenzo_df["Display Mode"].drop_duplicates()

El metodo `unique` retorna el arreglo de tales valores unicos:

In [ ]:
log_Lorenzo_df["Display Mode"].unique()

Finalmente, el metodo `hist` nos permite ver graficamente el número de ocurrencias de cada valor:

In [ ]:
log_Lorenzo_df["Display Mode"].hist()

Pueden revisar el metodo `plot` para ver otro tipo de graficos posibles.

La lista de los valores de una columna es un objeto de tipo `Series` en el modulo `pandas.core.series`: pueden leer mas sobre los metodos que soporta tal tipo de objeto con la instrucción siguiente:

In [ ]:
help(log_Lorenzo_df["Display Mode"])

### Agrupación de *items* y estadisticas separadas

Si uno quiere calcular el tiempo promedio de respuesta de cada tipo de ejercicio, uno realiza una operación `join` sobre el data_frame:

In [ ]:
promedios_de_tiempo_de_respuesta_df = log_Lorenzo_df.groupby(by=["Display Mode"]).describe()
promedios_de_tiempo_de_respuesta_df

A dentro de tales estadisticas, podemos destacar:

las estadisticas sobre el tiempo promedio de respuesta de cada tipo de ejercicio:

In [ ]:
promedios_de_tiempo_de_respuesta_df["Answering time (ms)"]

y las estadisticas sobre la cantidad de respuestas correctas para cada tipo de ejercicio (una taza de exito sobre 80% se considera muy buena!):

In [ ]:
log_Lorenzo_df.groupby(by=["Display Mode"]).mean()["Correction"]

(para poder compararla con la del otro sujeto del experimento:)

In [ ]:
log_Tina_df.groupby(by=["Display Mode"]).mean()["Correction"]

## Interactive Python Notebooks


Para este curso, usaremos archivos de tipo `Interactive Python Notebooks` (extensión `.ipynb`, para **I**nteractive **PY**thon **N**ote**B**ook) de varias formas:
- para entregar los apuntes interactivos, en cuales pueden ejecutar fragmentos de codigo para ver sus resultados, e incluso modificar su input o su codigo para ver como eso afecta su output; y 
- para que ustedes entreguen su tarea, combinando sus explicaciones y su codigo de una manera que facilite su ejecución para que el equipo docente pueda evaluar su corrección y entregarles su feedback de la manera mas fluida posible.

Pueden leer mas al respecto de tal formato en https://ipython.org/, que ahora soporta otros languajes de programación ademas de Python.

## Colab

Aun que son libres de usar cualquier solución para redactar tales Python Interactive Notebooks, sugerimos usar la plataforma https://colab.research.google.com para redactarlos y entregarlos, a manera de 
- facilitar la colaboracion entre miembros del mismo grupo si y cuando se realiza una tarea grupal; y de 
- facilitar el trabajo del equipo docente en evaluar su trabajo.

Si no lo han hecho en otros curso o por su cuenta, vale la pena invertir un poco de tiempo en aprender como usar tal plataforma de manera efectiva, iniciando con https://research.google.com/colaboratory/faq.html!

## "Litterate Programming"

La filosofia atras de combinar texto y codigo en el mismo documento, que inspiro el diseño de los `Interactive Python Notebooks` es antigua: las introdujo Donald Knuth en 1984, considerado como el "padre" de la area de investigación en el "Diseño y Analisis de Algoritmos".

Tal metodo de trabajo y de comunicación es muy util tanto en el contexto de la docencia como en el contexto de la investigación y en el contexto del desarrollo profesional de programas documentados que seran extendidos por desarrolladores futuros.

Pueden leer mas al respecto en https://en.wikipedia.org/wiki/Literate_programming#History_and_philosophy

## Experimento que genero los datos

Los datos que se usaron para esta tarea son extraidos de un conjunto mas grande de datos, https://buho.dcc.uchile.cl/~inca/Logs/WhatIsMore/, que fueron generados por trabajo cientifico, del cual pueden aprender mas detalles con 

1. Un video de demo corto (3mns) https://pt.dcc.uchile.cl/w/jwACLoACoUgeBi7RneXkHt
1. Un articulo corto en pdf https://barbay.cl/Publications/2022-ACI-MeasuringDiscriminationAbilitiesThroughaDigitalLifeEnrichmentApplication.pdf
1. Un articulo mas largo (26 paginas) https://arxiv.org/abs/2206.00734

Son experimentos realizados por el laboratorio de "Interacciones Computacionales para Animales" (InCA) del Departamento de Computación (DCC) de la Facultad de Ciencias Fisicas y Matematicas (FCFM) de la Universidad de Chile. Pueden aprender mas sobre tal laboratorio con 
1. un video de 16 mns de presentacion del grupo InCA: https://youtu.be/i_gvg7To83M
1. el canal de videos del grupo en YouTube : https://www.youtube.com/watch?v=8GCLzvOMryo&list=PLJs1WGSCERxEDNFP9_RiCpkEz5nE6iYzc
1. el sitio web del grupo: https://incalab.cl.

Finalmente, pueden "jugar" al mismo juego que los sujetos del experimento en la pagina https://buho.dcc.uchile.cl/~fjana/